.publication{
  margin-bottom: 10px;
}
.card{
  background-color: #333;
  padding: 20px;
  color:#fff;
  margin-bottom: 30px;
}

.card img{
  border-radius: 5px;
}

a,h1,h2,h3,h4,h5,button{
  font-family: 'VT323', monospace !important;
  font-weight: 200;
}
